<head>
<link rel="stylesheet" href="index.css">
</head>
<%= flash[:notice] %>
<body>
<ul>
    <% @bookmarks.each do |bookmark| %>
        <li class="bookmark" id="bookmark.<%= bookmark.id %>"%>
            <a href="<%= bookmark.url %>" target="_blank">
                <%= bookmark.title %>
                <br><br>
            </a>
            <form action="/bookmarks/<%= bookmark.id %>" method="post">
                <input type="hidden" name="method" value="DELETE" />
                <input type="submit" value="Delete" id="submit"/>
            </form>
            <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
                <input type="submit" value="Edit" id="submit"/>
            </form>
            <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
                <input type="submit" value="Add Comment" />
            </form>
            <ul>
              <% bookmark.comments.each do |comment| %>
               <li><%= comment.text %></li>
               <br><br><br>
            <%end%>
            </ul>
        </li>
    <% end %>
<a href="/bookmarks/new">Add a new Bookmark</a>
</body>