<head>
<link rel="stylesheet" href="index.css">
</head>
<%= flash[:notice] %>

<body>
<ul>
    <li class="navbar1"><a  href="/bookmarks/new">Home</a></li>
    <li class="navbar1"><a  href="/bookmarks/new">Add a new Bookmark</a></li>
    <li class="navbar1"><% if @user %>
    <h3>Welcome, <%= @user.username %></h3>
    <%end%></li>
    <li class="navbar1"><form action="/sessions/destroy" method="post">
        <input type="submit" value="Sign Out" />
        </form>
    </li>
</ul>
<ul>

    <% @bookmarks.each do |bookmark| %>
    
        <li class="bookmarklinklist" id="bookmark.<%= bookmark.id %>"%>
        <div class="encapsulate">
           <a target="_blank" class="bookmarklinks" href=<%=bookmark.url%>><%=bookmark.title%></a>
            <br>
            <br>
            <br>
            <div >
          
            <ul>
            <% bookmark.comments.each do |comment| %>
         
                <li class="commentlist"><%= comment.text %></li>
            <% end %>
            </ul>
            </div>
        
            <br>
            <br>
            <br>
            <br>
           <form action="/bookmarks/<%= bookmark.id %>" method="post" class="inline">
                <input type="hidden" name="method" value="DELETE" />
                <input type="submit" value="Delete" id="submit"/>
            </form>
            <form action="/bookmarks/<%= bookmark.id %>/edit" method="get" class="inline">
                <input type="submit" value="Edit" id="submit"/>
            </form>
           
            <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get" class="inline">
                <input type="submit" value="Add Comment" id="submit" />
            </form>
        
            <form action='/bookmarks/<%= bookmark.id %>/tags/new' method='get' class="inline">
                <input type="submit" value="Add Tag" id="submit" />
            </form>
            
            
           
            <div>
              
                <ul>
                  <% bookmark.tags.each do |tag| %>
                    <li class="tagslist"><%= tag.content %></li>
                    <br>
                    <br>
                
                  <% end %>
                 
                </ul>
            </div>
        </li>
        
    </div>
     
    <% end %>
   
    </div>
</div>

</body>